<div class="container-fluid">
  <form class="example-form" [formGroup]=" pesquisaMembroDetalhadaForm">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="legacy" class="example-full-width">
              <mat-label>Nome </mat-label>
              <input matInput [formControl]=" pesquisaMembroDetalhadaForm.controls['nomeMembro']" name="nomeMembro" type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Estado Civil</mat-label>
                <mat-select [formControl]=" pesquisaMembroDetalhadaForm.controls['estadoCivil']" name="estadoCivil">
                  <mat-option [value]="''">(Selecione)</mat-option>
                  <mat-option *ngFor="let estadoCivil of estadoCivilList" [value]="estadoCivil.sigla">
                  {{estadoCivil.descricao}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
           
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Sexo </mat-label>
              <mat-select [formControl]=" pesquisaMembroDetalhadaForm.controls['sexo']" name="sexo">
                <mat-option [value]="''">(Selecione)</mat-option>
                <mat-option *ngFor="let sexo of sexoList" [value]="sexo.sigla">
                  {{sexo.descricao}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
         <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Zona</mat-label>
              <mat-select [formControl]=" pesquisaMembroDetalhadaForm.controls['zona']" name="zona">
                <mat-option [value]="''">(Selecione)</mat-option>
                <mat-option *ngFor="let zona of zonaList" [value]="zona.descricao">
                  {{zona.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Status</mat-label>
                <mat-select [formControl]="pesquisaMembroDetalhadaForm.controls['funcaoMembro']" name="funcaoMembro">
                  <mat-option [value]="''">(Selecione)</mat-option>
                  <mat-option *ngFor="let funcaoMembro of funcaoMembroList" [value]="funcaoMembro.sigla">
                      {{funcaoMembro.descricao}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Lider GC</mat-label>
                <mat-select [formControl]="pesquisaMembroDetalhadaForm.controls['flagLiderGc']" name="flagLiderGc">
                  <mat-option [value]="''">(Selecione)</mat-option>
                  <mat-option *ngFor="let flagLiderGc of lidergcList" [value]="flagLiderGc.sigla">
                      {{flagLiderGc.descricao}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <button class="example-full-width" mat-raised-button (click)="pesquisar()">Pesquisar</button>
          </div>
        
          <div class="col-md-6">
            <button class="example-full-width" mat-raised-button type="reset">Limpar</button>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <h4> Pesquisar Membros </h4>
        <div class="bordas" *ngFor="let membro of membroList">
          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12">
                <div class="foto-perfil-wrapper">
                  <div class="foto-perfil">
                      <img  [src]="membro.imgPerfil">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <p class="text-center"><a [routerLink]="['/detalhar-docente/detalhar']"  [queryParams]="{id: membro.idMembro}"> {{membro.nomeMembro | titlecase}}</a></p>
                <p class="text-center">  <mat-icon>check</mat-icon>  {{membro.estadoCivil}}</p>
                <p class="text-center">  <mat-icon>check</mat-icon>  {{membro.sexo | titlecase}}</p>
                <p class="text-center">  <mat-icon>check</mat-icon>  {{membro.celular}}.</p>
              </div>
            </div>

            <div class="col-md-8">
              <h5> Dados Pessoais</h5>
              <p>{{membro.nomeMembro | titlecase}}</p>
              <p>{{membro.morada | titlecase}}</p>
              <p>{{membro.email}}</p>

              <h5>Dados Familiares</h5>
              <p>{{membro.nomePai  | titlecase}}</p>
              <p>{{membro.nomeMae  | titlecase}}</p>
              <p>{{membro.nomeConjuge  | titlecase}}</p>
              <h5>Dados Batismo</h5>
              <p>{{membro.dtBatismo | date:"dd/MM/yyyy"}}</p>
              <p>{{membro.igrejaBatismo | titlecase}}</p>

              <h5>Dados GC</h5>
              <p>{{membro.nomeGc | titlecase}}</p>

            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="exibirMsgRegistro">
          <br>
          <h5>Pesquisa Não Retornou Registro</h5>

        </div>
      </div>
    </div>
  </form>
</div>