<div class="container-fluid">
  <form class="example-form">
    <div class="row">
      <div class="col-md-12">
        <div class="bordas">
          <div class="row">

            <div class="col-md-12">
                <div class="foto-perfil-wrapper" align="text-center">
                <div class="foto-perfil">
                  <img [src]="membro.fotoUrl">
                </div>
              </div>
              <h5 class="text-center"><a [routerLink]="['/detalhar-membro/detalhar-membro']"  [queryParams]="{id: membro.idMembro}"> {{membro.nomeMembro | titlecase}}</a></h5>
               
              <div class="col-md-12" align="center">
                <div class="hr">
                </div>
              </div>

              <div class="col-md-12">
                <h5 class="text-center">Dados Pessoais</h5>
                <br>
                <p class="text-center"> <b>Estado Civil:</b> {{membro.estadoCivil | titlecase}}</p>
                <p class="text-center"> <b>Sexo:</b> {{membro.sexo | titlecase}}</p>
                <p class="text-center"> <b>Data de Nascimento:</b> {{membro.dtNasc | date:"dd/MM/yyyy"}}</p>
                <p class="text-center"> <b>Telemóvel:</b> {{membro.celular}}</p>
                <p class="text-center"> <b>Email:</b> {{membro.email}}</p>
                <p class="text-center"> <b>Nacionalidade:</b> {{membro.nacionalidade | titlecase}}</p>
                <p class="text-center"> <b>País:</b> {{membro.pais | titlecase}}</p>
                <p class="text-center"> <b>Cidade:</b> {{membro.cidade | titlecase}}</p>
                <p class="text-center"> <b>Morada:</b> {{membro.morada | titlecase}}</p>
                   
                <ng-container *ngIf="membro.funcaoMembro!=null">
                <p class="text-center"> <b>Função Membro:</b> {{membro.funcaoMembro | titlecase}}</p>
                </ng-container>
                <ng-container *ngIf="membro.levitaFuncao!=null">
                <p class="text-center"> <b>Levita:</b> {{membro.levitaFuncao | titlecase}}</p>
                </ng-container>
              </div>

              <div class="col-md-12" align="center">
                <div class="hr">
                </div>
              </div>

              <div class="col-md-12">
                <h5 class="text-center">Dados Familiares</h5>
                <br>
                <p class="text-center"> <b>Pai:</b> {{membro.nomePai | titlecase}}</p>
                <p class="text-center"> <b>Mãe:</b> {{membro.nomeMae | titlecase}}</p>
                <ng-container *ngIf="membro.dtCasamento!=null">
                <p class="text-center"> <b>Cônjuge:</b> {{membro.nomeConjuge | titlecase}}</p>
                <p class="text-center"> <b>Data do Casamento:</b> {{membro.dtCasamento | date:"dd/MM/yyyy"}}</p>
                </ng-container>
                <p class="text-center"> <b>Quantidade de filhos:</b> {{membro.qtdFilhos}}</p>
              </div>

              <div class="col-md-12" align="center">
                <div class="hr">
                </div>
              </div>
              <ng-container *ngIf="membro.dtBatismo!=null">
              <div class="col-md-12">
                <h5 class="text-center">Dados do Batismo</h5>
                <br>
                <p class="text-center"> <b>Data do Batimos:</b> {{membro.dtBatismo | date:"dd/MM/yyyy"}}</p>
                <p class="text-center"> <b>Igreja de Batismo:</b> {{membro.igrejaBatismo | titlecase}}</p>
             </div>
              </ng-container>
              <div class="col-md-12" align="center">
                <div class="hr">
                </div>
              </div>
              <ng-container *ngIf="membro.idGc!=0">
              <div class="col-md-12">
                <h5 class="text-center">Grupos de Crescimento</h5>
                <br>
                <p class="text-center"> <b>GC:</b> {{membro.nomeGc | titlecase}}</p>
                <p class="text-center"> <b>Líder:</b> {{membro.liderGc | titlecase}}</p>
                <p class="text-center"> <b>Dia:</b> {{membro.diaGc | titlecase}}</p>
              </div>
            </ng-container>



              <div class="col-md-12" align="center">
                <div class="hr">
                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="text-center" *ngIf="exibirMsgRegistro">
          <br>
          <h5>Pesquisa Não Retornou Registro</h5>

        </div>
      </div>
    </div>
  </form>
</div>