<div class="container">
    <form class="example-form" [formGroup]="dadosFamiliaresForm" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-12" align="center">
        <p>{{nomeMembro}}</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput  [formControl]="dadosFamiliaresForm.controls['nomePai']" placeholder="Nome do Pai">
      </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput  [formControl]="dadosFamiliaresForm.controls['nomeMae']" placeholder="Nome da Mãe">
        </mat-form-field>
      </div>

     </div>
  
  <div class="row">
    <div class="col-md-6">
      
        <mat-form-field class="example-full-width">
        <mat-select placeholder="Estado Civil" [formControl]="dadosFamiliaresForm.controls['estadoCivil']" [errorStateMatcher]="matcher"
        name="estadoCivil">
        <mat-option [value]="null">(Selecione)</mat-option>
         <mat-option *ngFor="let estadoCivil of estadoCivilList" [value]="estadoCivil.sigla">
         {{estadoCivil.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="col-md-6">
            <mat-form-field class="example-full-width">
                    <mat-select placeholder="Quantos Filhos?" [formControl]="dadosFamiliaresForm.controls['qtdFilhos']" [errorStateMatcher]="matcher"
                    name="escola">
                    <mat-option [value]="null">(Selecione)</mat-option>
                    <mat-option [value]="0">0</mat-option>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                  </mat-select>        
            </mat-form-field>
          </div>
         </div>
      <div class="row">
          <ng-container *ngIf="dadosFamiliaresForm.get('estadoCivil').value==='CAS'">
              <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput  [formControl]="dadosFamiliaresForm.controls['nomeConjuge']" placeholder="Nome do Cônjuge">
                  </mat-form-field>
                </div>  

          <div class="col-md-6">
              <mat-form-field class="example-full-width"> 
                  <input matInput [matDatepicker]="picker2" [formControl]="dadosFamiliaresForm.controls['dataCasamento']" placeholder="Data do Casamento">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
          </div>
          
        </ng-container>
            
          </div>
  

 
</form>
</div>