<div class="container-fluid">
  <div class="row"></div>
  <form class="example-form" [formGroup]="pesquisarMembrosForm">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="legacy" class="example-full-width">
              <mat-label>Nome </mat-label>
              <input matInput [formControl]="pesquisarMembrosForm.controls['nomeMembro']" name="nomeMembro" type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Estado Civil </mat-label>
              <mat-select [formControl]="pesquisarMembrosForm.controls['estadoCivil']" name="estadoCivil">
                <mat-option [value]="''">(Selecione)</mat-option>
                <mat-option *ngFor="let estadoCivil of estadoCivilList" [value]="estadoCivil.sigla">
                  {{estadoCivil.descricao}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Sexo </mat-label>
              <mat-select [formControl]="pesquisarMembrosForm.controls['sexo']" name="sexo">
                <mat-option [value]="''">(Selecione)</mat-option>
                <mat-option *ngFor="let sexo of sexoList" [value]="sexo.sigla">
                  {{sexo.descricao}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Zona </mat-label>
              <mat-select [formControl]="pesquisarMembrosForm.controls['zona']" name="zona" >
                <mat-option [value]="''">(Selecione)</mat-option>
                <mat-option *ngFor="let zona of zonaList" [value]="zona.sigla">
                  {{zona.descricao}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <button class="example-full-width" mat-raised-button (click)="pesquisar()">Pesquisar</button>
          </div>
          <div class="col-md-4">
            <button class="example-full-width" mat-raised-button (click)="novo()">Novo</button>
          </div>
          <div class="col-md-4">
            <button class="example-full-width" mat-raised-button type="reset">Limpar</button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
          <h4> Pesquisar Membros </h4>
        <table mat-table [dataSource]="dataSource">
          <!-- NOME -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome</th>
            <td mat-cell *matCellDef="let responsePesquisaMembros"> {{responsePesquisaMembros.nomeMembro}} </td>
          </ng-container>

          <!-- ESTADO CIVIL -->
          <ng-container matColumnDef="estadoCivil">
            <th mat-header-cell *matHeaderCellDef> Estado Civil </th>
            <td mat-cell *matCellDef="let responsePesquisaMembros"> {{responsePesquisaMembros.estadoCivil}} </td>
          </ng-container>

          <!-- SEXO -->
          <ng-container matColumnDef="morada">
            <th mat-header-cell *matHeaderCellDef> Morada </th>
            <td mat-cell *matCellDef="let responsePesquisaMembros"> {{responsePesquisaMembros.morada}} </td>
          </ng-container>

          <!-- GC -->
          <ng-container matColumnDef="gc">
            <th mat-header-cell *matHeaderCellDef> GC </th>
            <td mat-cell *matCellDef="let responsePesquisaMembros"> {{responsePesquisaMembros.nomeGc}} </td>
          </ng-container>

          <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab class="btn-small" matTooltip="Editar Registro" color="basic" style="margin: 10px 5px 10px 5px;">
                <mat-icon class="mat-icon mat-list-icon material-icons ng-star-inserted" role="img" aria-hidden="true"
                  ng-reflect-hide-xs="" style="display: block; color: #222;" (click)="editarDocente(row.idMembro)">edit</mat-icon>
              </button>
              <button mat-mini-fab class="btn-small" matTooltip="Detalhar Registro" color="basic" style="margin: 10px 5px 10px 5px;">
                <mat-icon class="mat-icon mat-list-icon material-icons ng-star-inserted" role="img" aria-hidden="true"
                  ng-reflect-hide-xs style="display: block; color: #222;" (click)="detalharDocente(row.id)">info</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns">
          </tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="resultadoPesquisa" align="center">
          <mat-label class="example">Pesquisa Não Retornou Registro</mat-label>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </form>
</div>