<div class="container">
  <form class="example-form" [formGroup]="dadosBatismoForm" >
          <div class="row">
            <div class="col-md-12" align="center">
                <p>{{nomeMembro}}</p>
              </div>
          </div>
      <div class="row">
        <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-select name="batizado" [errorStateMatcher]="matcher" [formControl]="dadosBatismoForm.controls['flagBatizado']" placeholder="Batizado?">
            <mat-option [value]="''">(Selecione)</mat-option>
            <mat-option *ngFor="let batizado of batizadoList" [value]="batizado.sigla">
              {{batizado.descricao}}
            </mat-option>
          </mat-select>
         </mat-form-field>
      </div>
      <ng-container *ngIf="dadosBatismoForm.get('flagBatizado').value==='S'">
      <div class="col-md-6">
        <mat-form-field class="example-full-width"> 
          <input matInput [matDatepicker]="picker3" [formControl]="dadosBatismoForm.controls['dataBatismo']" placeholder="Data do Batismo">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
    </ng-container>
    </div>
    <div class="row">
    <ng-container *ngIf="dadosBatismoForm.get('flagBatizado').value==='S'">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput specialIsAlphaNumeric name="igrejaBatismo" [errorStateMatcher]="matcher" [formControl]="dadosBatismoForm.controls['igrejaBatismo']" placeholder="Igreja que Foi Batizado">
         </mat-form-field>
      </div>
    </ng-container>
     </div>
   </form>
</div>