<div class="container">
  <form class="example-form" [formGroup]="dadosBancariosForm" >
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-select name="banco" [errorStateMatcher]="matcher" [formControl]="dadosBancariosForm.controls['banco']" placeholder="Batizado?">
            <mat-option [value]="null">(Selecione)</mat-option>
            <mat-option [value]="1">Sim</mat-option>
            <mat-option [value]="2">Não</mat-option>
            <mat-option *ngFor="let banco of bancoList" [value]="banco.id">
            </mat-option>
          </mat-select>
         </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width"> 
          <input matInput [matDatepicker]="picker3" placeholder="Data do Batismo">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput specialIsAlphaNumeric name="cdAgencia" [errorStateMatcher]="matcher" [formControl]="dadosBancariosForm.controls['cdAgencia']" placeholder="Igreja que Foi Batizado">
       
          <mat-error *ngIf="dadosBancariosForm.controls['cdAgencia'].errors != null 
                                 && dadosBancariosForm.controls['cdAgencia'].errors.patternInvalid 
                                 && !dadosBancariosForm.controls['cdAgencia'].hasError('required')">
            {{errorValidatorNumeros}}
          </mat-error>
        </mat-form-field>
      </div>
     </div>
   </form>
</div>