<ul class="navbar-nav mr-auto nav-wrapper">
  <li class="nav-item">
    <a class="nav-link" routerLink="home" *ngIf="!listaPublica()">
      <mat-icon class="icon">home</mat-icon>Home
    </a>
    <a class="nav-link" routerLink="publica/home" *ngIf="listaPublica()">
      <mat-icon class="icon">home</mat-icon>Home
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="pesquisa/pesquisa-membro" *ngIf="!listaPublica()">
      <mat-icon class="icon">person</mat-icon>Membros
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="pesquisa/pesquisa-membro-detalhada" *ngIf="!listaPublica()">
      <mat-icon class="icon">search</mat-icon>Consulta Membros
    </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="pesquisa/pesquisa-gc" *ngIf="!listaPublica()">
        <mat-icon class="icon">school</mat-icon>GC
      </a>
    </li>

    

</ul>