<div class="container">
  <form class="example-form" [formGroup]="dadosPessoaisForm" enctype="multipart/form-data">
    <div class="content-separator">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="dadosPessoaisForm.controls['nome']" [errorStateMatcher]="matcher" name="nome"
              type="text" placeholder="Nome">
            <mat-error *ngIf="dadosPessoaisForm.controls['nome'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width"> 
              <input matInput [matDatepicker]="picker" [formControl]="dadosPessoaisForm.controls['dtNascimento']" placeholder="Data de Nascimento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Nacionalidade" [formControl]="dadosPessoaisForm.controls['nacionalidade']" [errorStateMatcher]="matcher"
                name="nacionalidade">
                <mat-option [value]="null">(Selecione)</mat-option>
                <mat-option *ngFor="let nacionalidade of nacionalidadeList" [value]="nacionalidade.sigla"> 
                {{nacionalidade.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>

              <mat-form-field class="example-full-width">
                  <mat-select placeholder="Sexo" [formControl]="dadosPessoaisForm.controls['sexo']" [errorStateMatcher]="matcher"
                    name="sexo">
                    <mat-option [value]="null">(Selecione)</mat-option>
                    <mat-option *ngFor="let sexo of sexoList" [value]="sexo.sigla">
                     {{sexo.descricao}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
         
              <mat-form-field class="example-full-width">
              <input matInput [formControl]="dadosPessoaisForm.controls['nrDocumento']" [errorStateMatcher]="matcher" name="nrDocumento"
                type="text" placeholder="Nº Doc Identificação">
            </mat-form-field>
        </div>
        <div class="col-md-6">
          <div class="foto-perfil-wrapper">
            <label>Foto do Perfil</label>
            <div class="foto-perfil">
              <ng-container *ngIf="url != null && url != ''">
                <img id="foto-perfil" [src]="url">
              </ng-container>
            </div>
            <input style="display: none" type="file" id="fotoPerfil" (change)="abrirModal($event)" #fileInput>
            <button *ngIf="!exibirBotaoRemover" color="blue" class="foto-perfil-btn" mat-raised-button style="margin-right: 5px;" (click)="fileInput.click()">
              <mat-icon class="mat-icon mat-list-icon material-icons ng-star-inserted" role="img" aria-hidden="true" style="color: rgb(39, 39, 39);">add</mat-icon>
              Selecionar Foto
            </button>
            <button *ngIf="exibirBotaoRemover" color="blue" class="foto-perfil-btn" mat-raised-button (click)="removerFoto($event)">
              <mat-icon class="mat-icon mat-list-icon material-icons ng-star-inserted" role="img" aria-hidden="true" style="color: rgb(39, 39, 39);">delete</mat-icon>
              Remover Foto
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width"> 
            <input matInput [matDatepicker]="picker2" [formControl]="dadosPessoaisForm.controls['dtValidadeDoc']"  placeholder="Data de Validade">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="dadosPessoaisForm.controls['enderecoResidencial']" name="enderecoResidencial" type="text"
              placeholder="Endereço Residencial" >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Cidade" [formControl]="dadosPessoaisForm.controls['cidade']" [errorStateMatcher]="matcher"
                  name="cidade">
                  <mat-option [value]="null">(Selecione)</mat-option>
                  <mat-option *ngFor="let cidade of cidadeList" [value]="cidade.sigla">
                   {{cidade.descricao}}
                  </mat-option>
                </mat-select>
              </mat-form-field>  
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="País" [formControl]="dadosPessoaisForm.controls['pais']" [errorStateMatcher]="matcher"
              name="pais">
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let pais of paisList" [value]="pais.sigla">
                  {{pais.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Zona" [formControl]="dadosPessoaisForm.controls['zona']" [errorStateMatcher]="matcher"
              name="zona">
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let zona of zonaList" [value]="zona.sigla">
                  {{zona.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
              <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput name="email" [errorStateMatcher]="matcher" [formControl]="dadosPessoaisForm.controls['email']" placeholder="Email">
                </mat-form-field>
            </div>
      </div>

       <!-- <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Titulação" [formControl]="dadosPessoaisForm.controls['titulacao']" name="titulacao"
              required>
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let titulacao of titulacaoList" [value]="titulacao.valor1">
                {{titulacao.valor2}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dadosPessoaisForm.controls['titulacao'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput name="curriculumLattes" type="text" placeholder="Curriculum Lattes(URL)" [formControl]="dadosPessoaisForm.controls['curriculumLattes']">
            <mat-error *ngIf="dadosPessoaisForm.controls['curriculumLattes'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Categoria Profissional" [formControl]="dadosPessoaisForm.controls['categoriaProfissional']"
              required>
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let categoria of categoriaList" [value]="categoria.valor1">
                {{categoria.valor2}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dadosPessoaisForm.controls['categoriaProfissional'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput name="matricula" type="text" placeholder="Matrícula" [formControl]="dadosPessoaisForm.controls['matricula']"
              [required]="isServidor">
            <mat-error *ngIf="dadosPessoaisForm.controls['matricula'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Ramo" [formControl]="dadosPessoaisForm.controls['ramo']" (selectionChange)="getListTribunais($event.value)"
              name="ramo" [(ngModel)]="ramo" required>
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let ramo of ramoList" [value]="ramo.valor1">
                {{ramo.valor2}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dadosPessoaisForm.controls['ramo'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Tribunal" [formControl]="dadosPessoaisForm.controls['tribunal']" [disabled]="ramo == null"
              required>
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let tribunal of tribunalList" [value]="tribunal.id">
                {{tribunal.sigla}} - {{tribunal.descricao}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dadosPessoaisForm.controls['tribunal'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Gostaria de Figurar no Banco de Docentes?" name="flagValue" [(ngModel)]="flagValue" [formControl]="dadosPessoaisForm.controls['flagBancoDocentes']"
              (selectionChange)="onChangeFlagBancoDocentes($event.value)" required>
              <mat-option [value]="null">(Selecione)</mat-option>
              <mat-option *ngFor="let flag of flags" [value]="flag.key">
                {{flag.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dadosPessoaisForm.controls['flagBancoDocentes'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="docenteDTO.flagBancoDocentes == 'S'">
        <div class="content-separator-bottom">
          <div class="row">
            <span class="alert">Autorizo que meus dados figurem no banco nacional como: *</span>
          </div>
          <div class="row">
            <div *ngFor="let atuacao of atuacaoList" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
              <mat-checkbox (change)="onSelectAtuacao($event, atuacao);" value="atuacao.valor1" [checked]="atuacao.checked">{{atuacao.valor2}}</mat-checkbox>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="content-separator-bottom">
        <div class="row">
          <div class="col-md-12 destaque text-center">
            <div class="text-box">Temas de Atuação como Docente *</div>
          </div>
          <div class="col-md-12">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let temaClassificacao of temaClassificacaoList">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{temaClassificacao.classificacao}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="tema-wrapper">
                  <mat-selection-list #temas>
                    <div class="row">
                      <div *ngFor="let tema of temaAtuacaoList[temaClassificacao.id]" class="col-md-12">
                        <mat-checkbox value="tema" (change)="onSelectTemaAtuacao($event, tema)" [checked]="tema.checked">{{tema.descricao}}</mat-checkbox>
                      </div>
                    </div>
                  </mat-selection-list>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <textarea matInput rows="8" placeholder="Currículo Resumido" #input maxlength="2000" [formControl]="dadosPessoaisForm.controls['curriculoResumido']"
              required></textarea>
            <mat-error *ngIf="dadosPessoaisForm.controls['curriculoResumido'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
            <mat-hint align="end">{{input.value?.length || 0}}/2000</mat-hint>
          </mat-form-field>
        </div>
      </div> -->
    </div>
  </form>
</div>