<div class="container-fluid">
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <div class="logo-wrapper" align="center">
                            <img src="assets/img/Lagoinha.png" width="35%" alt="Lagoinha">
                        </div>
                    </div>
                   <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="logo-unicorp-wrapper">
                            <img src="assets/img/lagoinhai.png" class="logotipo" alt="Lagoinha">
                        </div>
                    </div>--> 
                </div>    </div>
</div>