<div class="container">
  <form class="example-form" [formGroup]="dadosAdministrativosForm" enctype="multipart/form-data">
    <div class="content-separator">
      <div class="row">
        <div class="col-md-12" align="center">
          <p>{{nomeMembro}}</p>
        </div>
      </div>
      <div class="content-separator">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Participa de Algum GC?*" [formControl]="dadosAdministrativosForm.controls['tipoDocumento']"
                [errorStateMatcher]="errorState" name="tipoDocumento" id="tipoDocumento" (selectionChange)="changeTipoDocumento($event.value)" 
                name="gc">
                <mat-option [value]="null">(Selecione)</mat-option>
                <mat-option *ngFor="let gc of gcList" [value]="gc.sigla">
                  {{gc.descricao}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="dadosAdministrativosForm.controls['tipoDocumento'].hasError('required')">{{preenchimentoObrigatorio}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
               <mat-select placeholder="GC" [formControl]="dadosAdministrativosForm.controls['tipoDocumento']"
            [errorStateMatcher]="errorState" name="tipoDocumento" id="tipoDocumento" (selectionChange)="changeTipoDocumento($event.value)">
            <mat-option [value]="null">(Selecione)</mat-option>
             <mat-option *ngFor="let tipoDocumento of tipoDocumentoList" [value]="tipoDocumento">
              {{tipoDocumento.descricao}}
            </mat-option>
          </mat-select>  
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

  </form>
</div>