<div class="container">
  <form class="example-form" [formGroup]="dadosGcForm" enctype="multipart/form-data">
    <div class="content-separator">
      <div class="row">
        <div class="col-md-12" align="center">
          <p>{{nomeMembro}}</p>
        </div>
      </div>
      <div class="content-separator">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Participa de Algum GC?*" [formControl]="dadosGcForm.controls['flagParticipaGc']"
                [errorStateMatcher]="errorState" name="flagParticipaGc" id="flagParticipaGc" (selectionChange)="changeTipoDocumento($event.value)" 
                name="flagParticipaGc">
                <mat-option [value]="null">(Selecione)</mat-option>
                <mat-option *ngFor="let resposta of gcRespostaList" [value]="resposta.sigla">
                  {{resposta.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="dadosGcForm.get('flagParticipaGc').value==='S'">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
               <mat-select placeholder="GC" [formControl]="dadosGcForm.controls['Gc']"
            [errorStateMatcher]="errorState" name="Gc" id="Gc">
            <mat-option [value]="null">(Selecione)</mat-option>
             <mat-option *ngFor="let gc of GcList" [value]="gc.id_gc">
              {{gc.nome}}
            </mat-option>
          </mat-select>  
        </mat-form-field>
      </div>
    </ng-container>
  </div>
  </div>
</div>
</form>
</div>